/ {
    chosen {
        zmk,matrix = &keyboard_matrix;
    };
};

&pinctrl {
    // Definir los pines como entradas (filas)
    gpio_keys: gpio_keys {
        psels = <
            GPIO0 17  // Fila 1
            GPIO0 20  // Fila 2
            GPIO0 22  // Fila 3
            GPIO0 24  // Fila 4
            GPIO1 00  // Fila 5
            GPIO1 04  // Fila 6
            GPIO0 11  // Fila 7
            GPIO1 11  // Fila 8
            GPIO0 10  // Fila 9
        >;
        bias-pull-up; // Activar resistencias de pull-up
    };
};

&keyboard_matrix {
    row-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>,
                <&gpio0 20 GPIO_ACTIVE_HIGH>,
                <&gpio0 22 GPIO_ACTIVE_HIGH>,
                <&gpio0 24 GPIO_ACTIVE_HIGH>,
                <&gpio1 00 GPIO_ACTIVE_HIGH>,
                <&gpio1 04 GPIO_ACTIVE_HIGH>,
                <&gpio0 11 GPIO_ACTIVE_HIGH>,
                <&gpio1 11 GPIO_ACTIVE_HIGH>,
                <&gpio0 10 GPIO_ACTIVE_HIGH>;
    col-gpios = <>; // No hay columnas en este caso (es una sola columna)
};
